@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  /* background-image: url("https://img.freepik.com/free-photo/orange-abstract-background-oil-bubble-water-wallpaper_53876-153423.jpg?w=1380&t=st=1693109493~exp=1693110093~hmac=4a132ba00a87251e5fa835f1484c77170db83c908b329d5f05efbbe34122ae7f");
  background-repeat: no-repeat;
  background-size: cover; */
}

.signin-body {
  font-family: 'Playfair Display', serif;
}

.navlogo {
  font-family: 'Water Brush', cursive;
  font-size: 3em;;
  text-shadow: 5px 7px 5px gold;
  color: rgb(169, 16, 16);
}

.signoutBtn {
  color: gold;
}

h1 {
  font-family: 'Water Brush', cursive;
}

h2 {
  font-family: 'Playfair Display', cursive;
}

.carouselFont {
  font-family: 'Water Brush', cursive;
  font-size: 11em;
  text-shadow: 7px 10px 7px black;
  max-width: 100%; /* Ensure the text doesn't overflow the carousel */
}

/* Media queries for responsive font size */
@media (max-width: 1399px) {
  .carouselFont {
    font-size: 10em; /* Adjust font size for smaller screens */
  }
}

/* Media queries for responsive font size */
@media (max-width: 1199px) {
  .carouselFont {
    font-size: 8em; /* Adjust font size for smaller screens */
  }
}

/* Media queries for responsive font size */
@media (max-width: 991px) {
  .carouselFont {
    font-size: 6em; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 767px) {
  .carouselFont {
    font-size: 4.2em; /* Adjust font size for even smaller screens */
  }
}

@media (max-width: 520px) {
  .carouselFont {
    font-size: 3em; /* Adjust font size for even smaller screens */
  }
}

@media (max-width: 382px) {
  .carouselFont {
    font-size: 2.5em; /* Adjust font size for even smaller screens */
  }
}

@media (max-width: 340px) {
  .carouselFont {
    font-size: 2em; /* Adjust font size for even smaller screens */
  }
}

@media (max-width: 299px) {
  .carouselFont {
    font-size: 1.7em; /* Adjust font size for even smaller screens */
  }
}

.welcomeGalleryImage {
  border-radius: 50%;
  max-width: 98%;
  box-shadow: 5px 5px 10px 1px;
}

.slogan-body {
  text-align: center;
  font-family: 'Playfair Display', serif;
  margin-top: 2%;
  margin-bottom: 2%
}

.welcomeBtnContainer {
  align-content: center;
  text-align: center;
  margin-top: 3%;
}

.welcomeButton {
  /* font-family:  */
  text-align: center;
  align-content: center;
  /* background-color: maroon; */
  color: gold;
  box-shadow: 3px 7px 12px 3px grey;
  margin-bottom: 2%;
}

/* Positioning for Festive Feast logo on sign-in page */
.signin-logo {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 35%;
  background-color: wheat;
  width: 100%;
  border-radius: 50%;
  /* width: 150%;
  height: auto; */
}

.signinBtn {
  background-color: maroon;
  color: gold;
  /* box-shadow: 5px 5px 5px 3px grey; */
  box-shadow: 15px 10px 15px 5px grey;
  border-radius: 50%;
  width: 100%;
}

#userProfilePhoto {
  border-radius: 20%;
}

.copy-btn {
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 10px 1px;
  border-radius: 50%;
  width: 100%;
}

/* Styling for buttons on event and supply pages at the top of the page links */

.event-supply-btns {
  color: gold;
}

.eventButtonsContainer {
  display: flex;
  justify-content: center;
  margin: 2%;
}

.eventsAddEventButton {
  box-shadow: 5px 5px 10px 1px;
  border-radius: 20%;
}

.eventsAddSupplyButton {
  box-shadow: 5px 5px 10px 1px;
  border-radius: 20%;
}

.form-text {
  font-family: 'Water Brush', cursive;
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 2%;
}

.formButton {
  margin-bottom: 3%;
}

.events-desc-text {
  margin-bottom: 2%;
}

.ms-5 {
  /* font-family: 'Playfair Display'; */
  font-size: 100%;
  font-weight: bold
}

.supplyButtonsContainer {
  display: flex;
  justify-content: center;
  margin: 2%;
}

.supplyButtons {
  box-shadow: 5px 5px 10px 1px;
  border-radius: 20%
}

/* Button styling on events cards */
#eventsCardInfoBtn {
  box-shadow: 5px 20px 20px 20px;
  border-radius: 10%;
  /* max-width: 3rem; */
}

/* For resizing images within event cards */
.event-img {
  /* width: auto;
  height: 40%; */
  /* padding: 5%; */
  border-radius: 20%;
  box-shadow: 0px 5px 20px 5px;
  margin-bottom: 10%;
  /* max-width: 100%;
  overflow: hidden; */
}

/* For resizing images within supply cards */
.supply-img {
  /* width: auto;
  max-height: 40%; */
  /* padding: 5%; */
  border-radius: 15%;
  box-shadow: 0px 5px 20px 5px;
  margin-bottom: 10%
}

/* Affectrs color, sizing and shadows on entire event and supply cards */
.cards {
  /* background-color: white; */
  box-shadow: 0px 0px 10px 0px;
}

/*  User Profile styling */
.user-profile {
  text-align: center;
}

.user-profile-elements {
  text-align: center;
  font-family: 'Playfair Display';
}

.profileButton {
  /* background-color: maroon; */
  color: gold;
  box-shadow: 3px 7px 12px 3px grey;
  margin-top: 0.5%;
}

/* START Experimental navbar styling for spacing */
#festivefeast-nav-outer {
  height: fit-content;
  background-color: transparent;
  padding-top: 16px;
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(40px);
}

#festivefeast-nav {
  max-height: 48px;
  background-color: transparent;
}

#festivefeast-nav-inner {
  display: flex;
  justify-content: space-between;
}

.nav-spacing {
  display: flex;
  min-width: fit-content;
  max-height: fit-content;
}

#nav-middle {
  width:fit-content;
  padding: 32px;
}

#nav-right {
  justify-content: flex-end;
}

#searchBar {
  padding-right: 12px;
}

/* END experiemental navbar styling */

/* .carousel-banners {
  float: left;
  width: 500px;
  height: 500px;
  object-fit: cover;
} */
